---
---

<html lang="{{ site.locale | slice: 0,2 | default: "en" }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  {% unless page.toc %}
    {% if page.classes or layout.classes %}
      {% assign classes = page.classes | default: layout.classes | push: 'wide' %}
    {% else %}
      {% assign classes = 'wide,' | split: ',' %}
    {% endif %}
  {% else %}
    {% if page.classes or layout.classes %}
      {% assign classes = page.classes | default: layout.classes %}
    {% else %}
      {% assign classes = '' | split: '' %}
    {% endif %}
  {% endunless %}

  <body class="layout--{{ page.layout | default: layout.layout }}{{ classes | join: ' ' | prepend: ' ' }}">
    {% include_cached skip-links.html %}
    {% include_cached browser-upgrade.html %}
    {% include_cached masthead.html %}

    <div class="initial-content">
      {{ content }}
    </div>

    {% if site.search == true %}
      <div class="search-content">
        {% include_cached search/search_form.html %}
      </div>
    {% endif %}

    <div id="footer" class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include_cached footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

    <script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
    <script>
      kofiWidgetOverlay.draw('tobiasvl', {
        'type': 'floating-chat',
        'floating-chat.donateButton.text': 'Support me',
        'floating-chat.donateButton.background-color': '#00b9fe',
        'floating-chat.donateButton.text-color': '#fff'
      });
    </script>

  </body>
</html>
